@charset "utf-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Orbitron:wght@400..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul,
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: #333;
}

/* 전체영역 */
section {
  width: 340px;
  margin: 50px auto;
  padding: 30px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.1);
}
/* 상단 */
.menu {
  display: flex;
  justify-content: space-between;
}
.menu > a {
  color: #aaa;
  font-size: 20px;
}
/* 프로필 */
.profile {
  padding: 0 30px;
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 15px;
}
/* 이미지 */
.p_img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 5px 15px 30px rgba(173, 216, 230, 0.8);
}
.p_img > img {
  width: 100%;
  transition: all 0.5s;
}
.p_img > img:hover {
  transform: scale(1.2);
}
/* 내용 */
.p_name > h1 {
  font-size: 22px;
  color: #555;
  text-transform: uppercase;
}
.p_name > p {
  font-size: 12px;
}
/* 버튼 */
.btn_view {
  width: 180px;
  padding: 8px 0;
  border-radius: 16px;
  color: #fff;
  background: linear-gradient(45deg, #e8a9f3, #35e0f7);
  box-shadow: 5px 5px 20px rgba(0, 255, 255, 0.493);
}
/* 연락처 */
.link_contact {
  padding: 30px;
}
.contact > li {
  display: flex;
  gap: 20px;
  align-items: center;
  border-bottom: 1px solid #eee;
  padding: 10px 0 10px 17px;
  justify-content: flex-start;
}
.contact > li:last-child {
  border: none;
}
.contact li i {
  color: #555;
  font-size: 15px;
  text-shadow: 2px 2px 2px #ddd;
}
.contact > li > span {
  font-size: 11px;
  font-family: "Orbitron", sans-serif;
}
/* 멤버별 프로필 */
.others {
  display: flex;
  gap: 20px;
  justify-content: center;
  margin-top: 20px;
}
.others > a {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #e8a9f3;
  opacity: 0.4;
  filter: saturate(0.7);
}
.others > a:nth-of-type(1) {
  background-color: #35e0f7;
  box-shadow: 5px 5px 10px rgba(74, 255, 255, 0.7);
}
.others a:nth-of-type(2) {
  background-color: #55f5cd;
  box-shadow: 5px 5px 10px rgba(85, 245, 178, 0.7);
}
.others a:nth-of-type(3) {
  background-color: #ff80df;
  box-shadow: 5px 5px 10px rgba(255, 128, 223, 0.7);
}
.others a:nth-of-type(4) {
  background-color: #a794fd;
  box-shadow: 5px 5px 10px rgba(167, 148, 253, 0.7);
}
.others > a.on {
  opacity: 1;
  filter: saturate(1);
}
/* 멤버1 */
.member1 {
  background-color: #ebfaff;
}
/* 멤버2 */
.member2 {
  background-color: #edffeb;
}
.member2 .p_img {
  box-shadow: 5px 15px 30px #bdccb783;
}
.member2 .btn_view {
  background: linear-gradient(45deg, #a0ff9d, #55f5b2);
  box-shadow: 5px 10px 20px rgba(33, 350, 105, 0.3);
}
/* 멤버3 */
body.member3 {
  background-color: #fff3fd;
}
body.member3 .p_img {
  box-shadow: 5px 15px 30px rgba(252, 99, 214, 0.2);
}
body.member3 .btn_view {
  background: linear-gradient(45deg, #ef74ff, #ff11c4);
  box-shadow: 5px 10px 20px rgba(255, 17, 196, 0.357);
}
/* 멤버4 */
body.member4 {
  background-color: #f5f0ff;
}
body.member4 .p_img {
  box-shadow: 5px 15px 30px rgba(183, 82, 250, 0.2);
}
body.member4 .btn_view {
  background: linear-gradient(45deg, #8e74ff, #a011ff);
  box-shadow: 5px 10px 20px rgba(160, 17, 255, 0.4);
}
